<svg width="240"
     height="240"
     xmlns="http://www.w3.org/2000/svg"
     [attr.data-content]="progress">

  <circle [attr.r]="radius"
          cy="120"
          cx="120">
  </circle>

  <circle id="progress"
          cy="120"
          cx="120"
          [attr.r]="radius"
          [style.stroke-dashoffset]="strokeDashoffset"
          [style.stroke-dasharray]="circumference">
  </circle>

  <text x="50%"
        y="50%"
        alignment-baseline="middle"
        text-anchor="middle">
    {{ progress | timer:duration }}
  </text>

</svg>
