<svg width="220"
     height="220"
     xmlns="http://www.w3.org/2000/svg"
     [attr.data-content]="progress">

  <circle [attr.r]="radius"
          cy="110"
          cx="110">
  </circle>

  <circle id="progress"
          cy="110"
          cx="110"
          [attr.r]="radius"
          [style.stroke-dashoffset]="strokeDashoffset"
          [style.stroke-dasharray]="circumference">
  </circle>

  <text x="50%"
        y="50%"
        alignment-baseline="middle"
        text-anchor="middle">
    {{ progress | timer:duration }}
  </text>

  <polygon points="100,135 130,152, 100,170" />
</svg>
