@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$black-coral = #545e75;
$cadet-grey = #9ba0bc;
$pewter-blue = #9ba0bc;
$silver = #c1b8c8;
$magic-mint = #a9ddd6;

body
  font-family 'Work Sans', sans-serif
  color $silver

button
  border transparent
  border-radius 1px
  padding .5rem .9rem
  font-size 1rem
  background-color $silver
  color black
