@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$black-coral = #545e75;
$cadet-grey = #9ba0bc;
$pewter-blue = #9ba0bc;
$silver = #c1b8c8;
$magic-mint = #a9ddd6;

body
  font-family 'Work Sans', sans-serif
  font-size 1.5rem
  color $silver
  padding 2rem

button
  border 1px solid $silver
  border-radius 2px
  padding .5rem .9rem
  font-size 1rem
  background-color darken($black-coral, 20%)
  color $silver
  font-weight bold

h2
  margin 1rem